<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo maiores blanditiis deleniti nemo, voluptatem eligendi repellat laborum quas optio ipsam dolorum et, similique facilis sequi molestias, corrupti deserunt soluta labore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur laborum doloribus numquam commodi incidunt aliquid ratione impedit, laudantium libero provident!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta saepe possimus quos sit non, repellendus maiores iusto corrupti recusandae nulla corporis ducimus dolorum a veritatis optio quod dolor officia? Qui suscipit, cum tempora quaerat fugiat aut dolorum, voluptatum ea quis id quam deleniti autem nulla eaque.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>